body {
  background-image: url(/static/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 68%;
  background-size: cover;
}

.content {
  color: rgb(0, 0, 0);
  font-size: 120px;
  font-weight: 700;
  font-family: "Brush Script MT";
  font-variant: small-caps;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

input[type=text]{
  width: 75%;
  padding: 12px 20px;
  color: black;
  font-weight: 600;
  border: none;
  border-bottom: white;
  border-bottom-width: 2px;
  opacity: 0.2;
}

div#content
{
  display:none;
}

div#loading {
  top: 200 px;
  margin: auto;
  position: absolute;
  z-index: 1000;
  width: 500px;
  height: 500px;
  background: url(/static/images/loading-gif.gif) no-repeat;
  cursor: wait;
  }